<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright By Noor Nabiul Alam Siddiqui on Behalf of RTsoftBD
  ~  www.fb.com/sazal.ns
  ~  ------------------------------------
  ~    Name:     DipuMoni
  ~    Created at:  7/5/17 5:28 PM
  ~    Updated at: 6/20/17 11:47 AM
  ~  ------------------------------------
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtsoftbd.siddiqui.drDipuMoni">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.rtsoftbd.siddiqui.drDipuMoni.helper.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.rtsoftbd.siddiqui.drDipuMoni.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rtsoftbd.siddiqui.drDipuMoni.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>